
html {
	color-scheme: dark;
}

body {
	background: rgb(8,159,79);
	background: linear-gradient(86deg, rgba(8,159,79,1) 0%, rgba(2,222,194,1) 100%);
	background: url('assets/blue-space.jpg') fixed;
	background-size: cover;
	color: #e7e7e7;
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
}

#layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	overflow: auto;
	scrollbar-gutter: stable; /* Reserve space for scrollbar when it's needed */
	scroll-padding-top: 50px; /* Add space above the first element in view when scrolled */
}

#content-wrapper {
	width: 100%;
	flex: 1; /* Grow as tall as necessary to fill vertical space */
	text-align: center;
}

.error-box {
	width: fit-content;
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	font-size: 1.5rem;
	color: rgb(255, 255, 98);

	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 2px solid rgba(255, 255, 255, 0.4);
}

h1 {
	color: #fff;
	font-size: 3rem;
	text-shadow: 3px 4px 0 rgb(30, 48, 56);

	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 2px solid rgba(255, 255, 255, 0.4);

	width: fit-content;
	margin: 0.67em auto;
	margin-bottom: 50px;
	padding: 10px 40px 20px;
	border-radius: 25px;
	user-select: none;
}

footer {
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
	font-size: 1.1rem;
	padding: 0px 40px;
	margin-bottom: 20px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 2px solid rgba(255, 255, 255, 0.4);
}

footer a {
	color: rgb(124, 202, 216);
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer a:active {
	color: rgb(175, 156, 221);
}

#projects-container {
	width: 80%;
	margin: auto;
	max-width: 730px;
	text-align: left;
}


/* PROJECT STYLING */
.project {
	background-color: rgba(0, 0, 0, 0.9);
	margin: 25px auto;
	padding: 0 10px;
	border-radius: 40px;
	outline: 2px solid rgba(255, 255, 255, 0.07);
	transition: all 0.3s ease-in-out;
	will-change: transform;
}

.project.selected {
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

.project-header {
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	user-select: none;
	padding: 20px;
}

.project-content {
	display: none;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	padding: 20px;
	padding-top: 5px;
}

.project-content p {
	margin-bottom: 9px;
	font-size: 1.1rem;
	font-weight: 300;
	font-family: 'Courier New', Courier, monospace;
}

.project-image {
	width: 100%;
	height: auto;
	margin-top: 15px;
}

.arrow {
	margin-left: 15px;
	transition: transform 0.3s;
}

.project.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.project-icons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.project-icons a {
	color: #e7e7e7;
	font-size: 1.5rem;
	text-decoration: none;
	transition: 0.3s;
}

.project-icons a:hover {
	transform: scale(1.2);
}


/* SUBPROJECT STYLING */
.subprojects-container {
	padding-left: 20px;
	margin-top: 25px;
}

.subproject {
	/* background: rgb(255, 255, 255, 0.05); */
	/* background-color: rgba(18, 238, 220, 0.07); */
	background-color: rgba(34, 166, 206, 0.1);
	background-color: rgba(131, 236, 255, 0.1);
	/* background-color: rgba(73, 255, 209, 0.386); */
	
	margin: 15px auto;
	padding: 0 10px;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.05);
	transition: all 0.3s ease-in-out;
	will-change: transform;
}

.subproject.selected {
	transform: scale(1.05);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

/* Override styling from projects */
.subproject .project-header {
	font-size: 1.3rem;
	padding: 12px;
}

.subproject .arrow {
	font-size: 0.9rem;
}

.subproject.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.subproject .project-icons {
	gap: 10px;
}

.subproject .project-icons a {
	font-size: 1.2rem;
}