
html {
	color-scheme: dark;
}

body {
	background: rgb(8,159,79);
	background: linear-gradient(86deg, rgba(8,159,79,1) 0%, rgba(2,222,194,1) 100%);
	background: url('assets/checkered-space.jpg') fixed;
	background-size: cover;
	color: #fff;
	font-family: 'Segoe UI', sans-serif;
	text-align: center;
	margin: 0;
}

header h1 {
	font-size: 3rem;
	text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	padding: 20px;
}

footer {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 0;
	margin-top: 20px;
	text-align: center;
	font-size: 1rem;
	position: fixed;
	bottom: 0;
	/* left: 0; */
	width: 100%;
	/* background-color: rebeccapurple; */
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

#projects-container {
	width: 80%;
	margin: auto;
	max-width: 730px;
	text-align: left;
}


/* PROJECT STYLING */
.project {
	background: rgba(0, 0, 0, 0.9);
	color: #e7e7e7;

	margin: 25px auto;
	padding: 0 10px;
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
	outline: 2px solid rgba(255, 255, 255, 0.05);
}

.project:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

.project-header {
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	user-select: none;
	padding: 20px;
}

.project-content {
	display: none;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	padding: 20px;
	padding-top: 5px;
}

.project-content p {
	margin-bottom: 9px;
	font-size: 1.1rem;
	font-weight: 300;
	font-family: 'Courier New', Courier, monospace;
}

.arrow {
	margin-left: 15px;
	transition: transform 0.3s;
}

.project.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.project-icons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.project-icons a {
	color: #e7e7e7;
	font-size: 1.5rem;
	text-decoration: none;
	transition: 0.3s;
}

.project-icons a:hover {
	transform: scale(1.2);
}

/* Focused project div */
.project[tabindex="0"]:focus {
	/* outline: 2px solid #007BFF; */
	outline: none;
}


/* SUBPROJECT STYLING */
.subprojects {
	padding-left: 20px;
	margin-top: 25px;
}

.subproject {
	/* background: rgb(255, 255, 255, 0.05); */
	/* background-color: rgba(18, 238, 220, 0.07); */
	background-color: rgba(34, 166, 206, 0.07);
	/* background-color: rgba(73, 255, 209, 0.386); */

	/* border: 1px solid rgba(209, 209, 209, 0.5); */
	/* border: 2px solid rgba(255, 255, 255, 0.2); */
	
	margin: 15px auto;
	padding: 0 10px;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
	border: 1px solid rgba(255, 255, 255, 0.05);
}

.subproject:hover {
	transform: scale(1.05);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

/* Override styling from projects */
.subproject .project-header {
	font-size: 1.3rem;
	padding: 12px;
}

.subproject .arrow {
	font-size: 0.9rem;
}

.subproject.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.subproject .project-icons {
	gap: 10px;
}

.subproject .project-icons a {
	font-size: 1.2rem;
}