
html {
	color-scheme: dark;
	
	/* Global styles -- defaults */
	--subproject-bg: rgba(255, 255, 255, 0.1);
	--subproject-selected-bg: rgba(31, 31, 31, 0.7);
	--fine-white: #e7e7e7;
}

body {
	background-color: #000a14; 	/* Default page color (darkmode default is #121212) */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 		/* Scale to fit screen, cropping excess */
	background-position: center;

	color: var(--fine-white);
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	transition: background-image 0.4s ease-in-out;
}

/* Layer to darken background */
body::before {
	content: "";
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.2);
	pointer-events: none;
	z-index: -1;
}

#layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	overflow: auto;
	scrollbar-gutter: stable; /* Reserve space for scrollbar when it's needed */
}

#content-wrapper {
	width: 100%;
	flex: 1; /* Grow as tall as necessary to fill vertical space */
}

#projects-container {
	width: 732px;
	margin: auto;
}

/* Floating text box effect */
.error-box, h1, footer {
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 2px solid rgba(255, 255, 255, 0.4);
}

.error-box {
	width: fit-content;
	margin: 30px auto;
	padding: 20px 25px;
	border-radius: 20px;
	font-size: 1.5rem;
	color: rgb(255, 255, 98);
}

h1 {
	color: #fff;
	font-family: 'Quicksand', 'Segoe UI', sans-serif;
	font-size: 3rem;
	font-weight: 300;
	text-shadow: 3px 2px 0 rgb(30, 48, 56);

	width: fit-content;
	margin: 0.67em auto;
	margin-bottom: 50px;
	
	padding: 12px 40px 15px;
	border-radius: 30px;
	user-select: none;
}

footer {
	text-align: center;
	font-size: 1.1rem;
	padding: 0 40px 5px;
	margin-bottom: 20px;
	border-radius: 30px;
}

strong {
	font-weight: 500;
}


/* General links */
a {
	color: rgb(139, 227, 243);
	text-decoration: none;
}
a:hover {
	color: rgb(197, 176, 247);
	text-decoration: underline;
}
a:active {
	color: rgb(175, 156, 221);
}
:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
	border-radius: 2px;
}


/* Tooltip hover effect */
.tooltip {
	position: relative;
	cursor: pointer;
}

.tooltip::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: calc(100% + 8px);
	left: 50%;
	transform: translateX(-50%)	;

	background-color: #222;
	color: var(--fine-white);
	padding: 4px 12px;
	border-radius: 8px;
	font-family: 'Quicksand', 'Segoe UI', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	
	opacity: 0;
	transition: opacity 0.1s;
	z-index: 1;
	white-space: nowrap;
	pointer-events: none;
}

.tooltip.active::after {
	opacity: 1;
	transition-delay: 0.5s; /* Delay when hovering on */
}


/* PROJECT STYLING */
.project {
	background-color: rgba(0, 0, 0, 0.9);
	margin: 30px auto;
	padding: 0 10px;
	border-radius: 35px;
	outline: 2px solid rgba(255, 255, 255, 0.07);
	transition: all 0.3s ease-in-out;
}

.project.selected {
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

.bigger {
	transform: scale(1.0622);
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	font-size: 1.5rem;
	font-weight: 600;
	
	cursor: pointer;
	user-select: none;
	backface-visibility: hidden;
}

.project-content {
	display: none;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	padding: 20px;
	padding-top: 5px;
}

.project-content :is(p, ul) {
	font-family: 'Quicksand', 'Segoe UI', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 2;
	margin: 0.5em;
}

.project-image {
	width: 100%;
	height: auto;
	margin-top: 15px;
	border-radius: 20px;
}

.project-title {
	display: flex;
	gap: 6px;
	align-items: center;
}

/* Title text */
.project-title :is(a, span) {
	margin-right: 3px;
}

.project-title img {
	width: 30px;
	display: block; /* Prevents extra space due to inline formatting context */
}

.project-title .icon-backdrop img {
	width: 28px;
}

.icon-backdrop {
	background-color: var(--fine-white);
	border-radius: 7px;
	padding: 1px;
}

.project-icons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.project-icons :is(a, span, .arrow) {
	color: var(--fine-white);
	font-size: 1.5rem;
	text-decoration: none;
	transition: transform 0.3s;
	backface-visibility: hidden;
}

.project-icons :is(a, span, .arrow):hover {
	transform: scale(1.22);
}

.project-icons :is(a, span, .arrow):active {
	color: #c2c2c2;
}

.arrow {
	margin-left: 15px;
	font-size: 1.2rem !important;
}

.project.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.project.expanded > .project-header .arrow:hover {
	transform: scale(1.22) rotate(90deg);
}


/* SUBPROJECT STYLING */
.subprojects-container {
	padding-left: 20px;
	margin-top: 25px;
}

.subproject {
	background-color: var(--subproject-bg);
	margin: 15px auto;
	padding: 0 10px;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.07);
	transition: all 0.3s ease-in-out;
}

.subproject.selected {
	background-color: var(--subproject-selected-bg);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

/* Override styling from projects */
.subproject .project-header {
	font-size: 1.3rem;
	padding: 12px;
}

.subproject .project-icons {
	gap: 12px;
}

.subproject .project-icons :is(a, span) {
	font-size: 1.2rem;
}

.subproject .arrow {
	font-size: 0.9rem;
}

.subproject.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.subproject.expanded > .project-header .arrow:hover {
	transform: scale(1.22) rotate(90deg);
}