
html {
	color-scheme: dark;
	
	/* Global styles -- defaults */
	--subproject-bg: rgba(255, 255, 255, 0.05);
	--subproject-selected-bg: rgba(15, 15, 15, 0.4);
}

body {
	background-color: #121212;
	background-image: linear-gradient(86deg, rgba(8,159,79,1) 0%, rgba(2,222,194,1) 100%);
	background-image: url('assets/bg/bw-4.jpg'); /* Default bg */
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* Scale to fit screen, cropping excess */
	background-size: cover;
	/* background-position: center; */
	color: #e7e7e7;
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	transition: background-image 0.4s ease-in-out;
}

#layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	overflow: auto;
	scrollbar-gutter: stable; /* Reserve space for scrollbar when it's needed */
	scroll-padding-top: 50px; /* Add space above the first element in view when scrolled */
}

#content-wrapper {
	width: 100%;
	flex: 1; /* Grow as tall as necessary to fill vertical space */
	text-align: center;
}

#projects-container {
	width: 80%;
	margin: auto;
	max-width: 730px;
	text-align: left;
}

/* Floating text box effect */
.error-box, h1, footer {
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 2px solid rgba(255, 255, 255, 0.4);
}

.error-box {
	width: fit-content;
	margin: auto;
	margin-top: 45px;
	padding: 20px 25px;
	border-radius: 20px;
	font-size: 1.5rem;
	color: rgb(255, 255, 98);
}

h1 {
	color: #fff;
	font-size: 3rem;
	text-shadow: 3px 4px 0 rgb(30, 48, 56);

	width: fit-content;
	margin: 0.67em auto;
	margin-bottom: 50px;
	padding: 10px 40px 20px;
	border-radius: 30px;
	user-select: none;
}

footer {
	text-align: center;
	font-size: 1.1rem;
	padding: 0 40px 5px;
	margin-bottom: 20px;
	border-radius: 30px;
}

/* General links */
a {
	color: rgb(139, 227, 243);
	text-decoration: none;
}
a:hover {
	color: rgb(197, 176, 247);
	text-decoration: underline;
}
a:active {
	color: rgb(175, 156, 221);
}
:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
	border-radius: 2px;
}


/* PROJECT STYLING */
.project {
	background-color: rgba(0, 0, 0, 0.9);
	margin: 25px auto;
	padding: 0 10px;
	border-radius: 40px;
	outline: 2px solid rgba(255, 255, 255, 0.07);
	transition: all 0.3s ease-in-out;
}

.project.selected {
	/* transform: scale(1.05); */
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

.project-header {
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	user-select: none;
	padding: 20px;
	will-change: transform;
}

.project-content {
	display: none;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	padding: 20px;
	padding-top: 5px;
	will-change: transform;
}

.project-content p {
	margin-bottom: 9px;
	font-size: 1.1rem;
	font-weight: 300;
	font-family: 'Courier New', Courier, monospace;
}

.project-image {
	width: 100%;
	height: auto;
	margin-top: 15px;
}

.project-icons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.project-icons a, .arrow {
	color: #e7e7e7;
	font-size: 1.5rem;
	text-decoration: none;
	transition: transform 0.3s;
	will-change: transform;
}

.project-icons a:hover, .arrow:hover {
	transform: scale(1.2);
}

.project-icons a:active, .arrow:active {
	color: #c2c2c2;
}

.arrow {
	margin-left: 15px;
	font-size: 1.3rem;
}

.project.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.project.expanded > .project-header .arrow:hover {
	transform: scale(1.2) rotate(90deg);
}


/* SUBPROJECT STYLING */
.subprojects-container {
	padding-left: 20px;
	margin-top: 25px;
}

.subproject {
	background-color: var(--subproject-bg);
	margin: 15px auto;
	padding: 0 10px;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.07);
	transition: all 0.3s ease-in-out;
}

.subproject.selected {
	background-color: var(--subproject-selected-bg);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

/* Override styling from projects */
.subproject .project-header {
	font-size: 1.3rem;
	padding: 12px;
}

.subproject .project-icons {
	gap: 12px;
}

.subproject .project-icons a {
	font-size: 1.2rem;
}

.subproject .arrow {
	font-size: 0.9rem;
}

.subproject.expanded > .project-header .arrow {
	transform: rotate(90deg);
}

.subproject.expanded > .project-header .arrow:hover {
	transform: scale(1.2) rotate(90deg);
}